{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Modulo 3:  La Vignetta
{% endblock %}

{% block content %}
<p>
    Ora guadagnerai denaro leggendo due brevi paragrafi sulla politica e poi aiutandoci a classificare le storie. Leggi questi due brevi paragrafi che descrivono uno scenario politico tipico. Dopo aver letto i paragrafi ti verrà chiesto di rispondere a quattro domande. Sarai quindi pagato per aver risposto a queste quattro domande sulle storie. Puoi guadagnare fino a 300 ECU rispondendo a queste domande
</p>
    {% next_button %}

{% endblock %}
