{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block title %}
Scenario:
{% endblock %}

{% block content %}
<div class="col-12 mb-3">
        Ci sono tre partiti politici in questo breve scenario. Le tre parti condividono il potere equamente in un governo di coalizione - ogni parte ha un numero uguale di portafogli di gabinetto. Il partito Alpha è il partito del Primo Ministro. Il partito Beta è il partito del ministro delle finanze. Il partito Gamma è il partito del ministro degli affari esteri.

</div>

{% next_button %}
{% endblock %}