{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Introduzione all’Esperimento

{% endblock %}

{% block content %}

<p>
  Ti chiederemo di prendere una serie di decisioni in questa sessione sperimentale. Tutte queste decisioni saranno totalmente anonime e guadagnerai denaro in base alle decisioni che prendi. Alla fine dell'esperimento sarai informato dei tuoi guadagna per il rispettivo modulo. Il tasso di cambio è: 1000 ECU = € 1
</p>
    {% next_button %}

{% endblock %}
