{% load otree_tags staticfiles %}

<div class="instructions well well-lg">
    <p>
        Nel modulo 2 vedrai un puzzle di immagini per 30 secondi. Il tuo compito è identificare il numero di mucche nella foto. Trascorsi i 30 secondi, l'immagine scomparirà. Dopo i 30 secondi dovresti indicare quante mucche sei riuscito a trovare. Non dovrai dirci quale mucca, ma solo quante ne hai trovate. Riceverai 100 ECU per ogni mucca che trovi. Premi il pulsante per iniziare.
    <br>
        Premi il pulsante per iniziare.
    </p>
</div>
